// global
.container {
    margin: 0 auto;
    max-width: 1600px;
    font-size: 1.5rem;
}

h1, h2, h3 {
    margin: 0;
    margin-bottom: 5px;    
    font-size: 2rem;
}


.wrapper {
    margin-bottom: 40px;
}

.line {
    min-height: 200px;
}

.div-description {
    overflow-wrap: break-word;
}

.btn-to {
    background-color: rgb(65,65,236);
    width: 100%;
    height: 50px;
    color: white;
    border: none;
    &:hover{
        background-color: rgb(79, 79, 252);
    }
}


// first task
.first-block {
    display: flex;
    gap: 10px;

    .line {
        width: calc((100% - 10px * 2) / 3);
        background-color: cyan;
    }
}

// second task
.second-block {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    
    .line {
        width: calc((100% - 10px) / 2);
        background-color: rgb(105, 105, 226);
    }
}


// third task
.third-block {
    display: grid;
    grid-template-areas: 
        'line1 line1 line3 line3'
        'line2 line2 line3 line3'
        'line4 line4 line4 line5';
    gap: 10px;

    div {
        background-color: rgb(136, 143, 233);
    }
    
    .grid-line1 {
        grid-area: line1;
    }
    
    .grid-line2 {
        grid-area: line2;
    }
    
    .grid-line3 {
        min-height: 400px;
        grid-area: line3;
    }
    
    .grid-line4 {
        min-height: 150px;
        grid-area: line4;
    }
    
    .grid-line5 {
        grid-area: line5;
    }
}

//TODO: сделать из них 3 линии, не 5


// fourth task
.card-company {
    background-color: rgb(245, 245, 245);
    display: flex;
    align-items: center;
    min-height: 100px;
    padding: 10px;

    .div-img{
        height: 100px;
        border-radius: 100%;
        overflow:hidden;
        flex: none;
        .image {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    
   .div-info {
        margin-left: 10px;
        .div-title {
            font-weight: bold;
            font-size: 2rem;
        }
    }
    
    .div-btn {
        margin-left: auto;
        flex: none;
    }
}




// fifth task
#product-cart {
    .div-flex {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

}

.product-card {
    background-color: rgb(219, 219, 219);
    display: flex;
    flex-direction: column;
    
    .image-part {
        margin: 0 auto;
    
        .image-product {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    
    
    .description {
        background-color: silver;
        flex: 1;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        
        .description-text {
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
        
        .btn-to {
            margin-top: auto;
        }
    }


    @media (max-width: 991px){
        .container {
            max-width: 991px;
        }

        .first-block {
            flex-wrap: wrap;

            .line {
                width: calc(50% - 10px);
                background-color: cyan;
            }

        }
    }
}


// tablet
@media (max-width: 991px) {

    //third task
    .third-block {
        display: grid;
        grid-template-areas: 
        'line1 line1 line1 line1'
        'line2 line2 line3 line3'
        'line5 line5 line3 line3'
        'line4 line4 line4 line4';
        gap: 10px;
    }

    .grid-line1 {
        min-height: 200px;
        grid-area: line1;
    }

    .grid-line2 {
        min-height: 200px;
        grid-area: line2;
    }

    .grid-line3 {
        min-height: 200px;
        grid-area: line3;
    }

    .grid-line4 {
        min-height: 150px;
        grid-area: line4;
    }

    .grid-line5 {
        min-height: 150px;
        grid-area: line5;
    }


    // fourth task

    .fourth-block {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }


    .company-info {
        inline-size: calc(100% - 110px);
    }

    .fourth-block .btn-to {
        margin-left: unset;
        margin: 0 auto;
    }

    // fifth task
    .div-flex .product-card {
        $min-w: calc((100% - 20px) / 3);
        min-width: $min-w;
    }
}


// phone
@media (max-width: 767px) {
    .container {
        max-width: 767px;
    }

    //first task & second task
    .first-block, .second-block {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .first-block .line {
        width: 100%;
        background-color: cyan;
    }

    .second-block .line {
        width: 100%;
        background-color: darkblue;
    }

    
    //third task
    .third-block {
        display: flex;
        flex-wrap: wrap;

    }

    .grid-line1, .grid-line2 {
        width: 100%;
        min-height: 200px;
    }

    .grid-line3 {
        width: 100%;
        min-height: 350px;
    }

    .grid-line4, .grid-line5 {
        width: 100%;
        min-height: 150px;
    }

    //fourth task
    .fourth-block {
        display: flex;
        gap: 10px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .company-info{
        text-align: center;
        inline-size: 100%;
    }

    
    // fifth task
    .div-flex .product-card {
        min-width: 100%;
    }
}